/* Box-sizing border-box */
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Some default styles to make each box visible */
.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
	padding-top: 10px;
}

/* Colours for each box */
.box1 { background: #1abc9c; }
.box2 { background: #3498db; }
.box3 { background: #9b59b6; }
.box4 { background: #34495e; }
.box5 { background: #f1c40f; }
.box6 { background: #e67e22; }
.box7 { background: #e74c3c; }
.box8 { background: #bdc3c7; }
.box9 { background: #2ecc71; }
.box10 { background: #16a085; }

/* We start writing out flexbox here. The above is just page setup */
.container {
	display: flex;
	border: 10px solid goldenrod;	

	flex-wrap: nowrap;        /* default */
	flex-wrap: wrap;          /* from 1 to 10 by 3 on the each row */
	flex-wrap: wrap-reverse;  /* from 10 to 1 by 3 on the each row starting from the down of the page */

	flex-wrap: wrap;

	/* like the snake from up to down */
	/*height:  100vh;*/
	flex-direction: column;

	/* from up to down straight */
	min-height:  100vh;
	flex-direction: column;

	/* like snake from left to right (with margin) */
	flex-direction: row;
}

.box {
	width: 300px;
	width: 33.3333333%;  /* wrapping horizontal evenly */

	/*margin: 10px;*/

	/*border: 10px solid lightgrey;*/
}

